@model Tourism.Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редагувати замовлення</title>
</head>
<body>

<h4>Редагування замовлення №@Model.OrderId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourId" class="control-label"></label>
                <select asp-for="TourId" class="form-control" asp-items="ViewBag.TourId"></select>
                <span asp-validation-for="TourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuideId" class="control-label"></label>
                <select asp-for="GuideId" class="form-control" asp-items="ViewBag.GuideId"></select>
                <span asp-validation-for="GuideId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Зберегти" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

</body>
</html>
