@{
    @* var returnUrl = Context.Request.Query["ReturnUrl"].ToString(); *@
}
<div class="justify-content-center card d-flex">
    <div class="card-img-top d-flex w-100">
        <img src="~/resources/AccessDenied.jpg" alt="No Access?("/>
    </div>
    <div class="card-title mx-3">
        <h2>
            Доступ заборонено
        </h2>
    </div>
    <div class="card-text mx-3">
        <p>
            На жаль, у вас недостатньо прав, щоби переглядати цю сторінку.
        </p>
    </div>
</div>